<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="header">
              <h1>Dashboard</h1>    
            <form action="/logout" method="post">
              <button class="logout-btn">Log out</button>
           </form>
           
        </div>  

          <div class="background-pic">
             <img src="../Assets/dahshboard.png" alt="dashboard">
          </div>  

   <footer>
     <h5>developed by myriemsl.dev</h5>
  </footer>
</body>
</html>
