<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <div class="container">

     <div class="home">
          <h1>Session-Based Authentication</h1>
          <div class="auth-links">
            <a href="/login" class="link">Login</a>
            <a href="/register" class="link">Register</a> 
          </div>
      </div> 

     <div class="auth-pic">
      <img src="../Assets/auth.png" alt="auth">
     </div>  

    </div>
    <footer>
      <h5>developed by myriemsl.dev</h5>
    </footer>
</body>
</html>

